<section class="admin-product-index">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>



  <div class='dashboard_count'>
  <br>
  <span class="col">Products Count: <%= @products_count%> </span>
  <br>
  <br>
  <span class='col'>Categories Count: <%= @category_count %> </span>
  </div>



</section>
