<section class='about_us'>
  <h2> About This Shop </h2>

  <hr/>
  <br>

  <header> 
  We are a family run business based in the town of Scranton, Pennsylvania, USA. 
  We used to sell strictly papers products, but then Staples became popular and stole all our customers.
  After closing down our little local shop Dunder Mifflin, we decided to move into ecommerce and start selling items online!
  </header>
  <br>
  <div class='team_container'> 
  <h2>Our Team</h2>
    <div class='team'>
      <div class='person'>
        <img src="https://roost.nbcuni.com/bin/viewasset.html/content/dam/Peacock/Campaign/landingpages/library/theoffice/characterbios/office-character-jim-min.png/_jcr_content/renditions/original">
        Senior SalesPerson
      <div>
      <div class='person'>
        <img src="https://roost.nbcuni.com/bin/viewasset.html/content/dam/Peacock/Campaign/landingpages/library/theoffice/characterbios/office-character-pam-min.png/_jcr_content/renditions/original?downsize=1200:*&output-quality=70">
        Online Receptionist 
      <div>
      <div class='person'>
        <img src="https://roost.nbcuni.com/bin/viewasset.html/content/dam/Peacock/Campaign/landingpages/library/theoffice/characterbios/office-character-michael-min.png/_jcr_content/renditions/original">
        Regional Manager
      <div>
      <div class='person'>
        <img src="https://roost.nbcuni.com/bin/viewasset.html/content/dam/Peacock/Campaign/landingpages/library/theoffice/characterbios/office-character-dwight-min.png/_jcr_content/renditions/original">
        Asssistant to the Regional Manager
      <div>
    </div>
  </div>
</section>